 <footer>
        <div class="inner-container">
            <span class="footer-info">
                <span>&copy; 2015 Zen Mortgage. All rights reserved.</span>
            </span>
            <ul>
                <li>Licensing</li>
                <li>Privacy Policy</li>
                <li>Terms of Use</li>
                <li>Legal Disclosures</li>
                <li>NMLS Consumer Access</li>
            </ul>
            <div class="footer-bottom">
               <img src="img/equal-housing.png" width="75" />
            </div>   

        </div>
    </footer>