<div class="modal-container">
        <button type="button" class="overlay-close" ng-click="overlay()">Close</button>

<header>
<div class="col-md-3"></div>
<div class="col-md-9">
  <div class="dl-logo">
    <img src="../img/lender-logos/citi.jpg" class="logo" />
    <h2>Citibank</h2>
  </div>
  <button>Download</button>
</div>
</header>
<aside class="col-md-3">
  <ul>
    <li class="loan-details current" id="loan-details"> Loan Details </li>
    <li class="pre-approval" id="pre-approval"> Approval Letter </li>
<!--     <li class="contact-me" id="contact-me"> Contact Me </li>
 -->    </ul>
</aside>
<article class="col-md-9 loan-details current">
<h3>Overview</h3>
<ul>
  <li><label>Loan product:</label><span>30 year fixed</span></li>
  <li><label>Interest Rate:</label><span>4.0000%</span></li>
  <li><label>Apr:</label><span>4.068%</span></li>
  <li><label>Payment:</label><span>$1,146</span></li>
  <li><label>Loan Amount:</label><span>$240,000</span></li>
  <li><label>Down Payment:</label><span>$60,000</span></li>
</ul>
<a href="#" class="more-info">More loan information</a>

<h3>Cost to Close</h3>
<ul>
  <li><label>Loan origination fee:</label><span>$1,950</span></li>
  <li><label>Credit Reporting Fee:</label><span>$50</span></li>
  <li><label>Appraisal fee:</label><span>$625</span></li>
  <li><label class="bold"><strong>Total estimated fee:</strong></label><span><strong>$2,625</strong></span></li>
</ul>
    
</article>
<article class="col-md-9 pre-approval">
<div>
Dear Adam,<br /><br />
 
Congratulations!  Your mortgage application is pre-approved based on the information you provided and the loan details in the section below.<br /><br />
 
 
 
<p><label>Mortgage amount:</label> <span>$640,000</span></p>
<p><label>Estimated property value:</label> <span>$800,000</span></p>
<p><label>Mortgage product:</label> <span>$30yr fixed rate</span></p>
<p><label>Loan term:</label> <span>360 months</span></p>
<p><label>Loan contingency:</label> <span>60 days</span></p>
 
 <br /><br />
 
 
All we need to close your loan is an acceptable appraisal supporting the property value, type and condition, acceptable title review, and just prior to closing, assurnace that all customary closing conditions have been met.  Your financial situation must also remain as strong as it is today.<br /><br />
 
If applicable, Condominium, Co-op or Planned Unit Development documentation is required to confirm that your property meets our current eligibility guidelines.  In some cases, mortgage insurance may be required on your loan.  We will apply to the mortgage insurer on your behalf and advise you if they approve your application.  *Interest rates are subject to change daily.*  This pre-approval letter is valid within 60 days of its issuance.  This pre-approval is for a Single Family Primary Residence Property.<br /><br />
 
When the above conditions are met you will receive a Commitment Letter outlining what is necessary to close your loan.<br /><br />
 
Thank you for choosing us and providing us the opportunity to serve you.
 <br /><br />
Sincerely.<br /><br />
 
Citibank Home Mortgage
</div>
    
</article>
<article class="col-md-9 contact-me">
    <label>Preferred method of contact</label>
    <select>
      <option>Phone</option>
      <option>Email</option>
      <option>Carrier Pigeon</option>
    </select>
    <label>Comments or questions:</label>
    <textarea></textarea>
    <button>Send Request</button>
</article>
</div>