// Variables

$brand-primary: #4A90E2;
$brand-danger: #e74c3c;
$gray-darkest: #222;
$gray: #777;
$gray-lighter: #f7f7f7;
$placeholder-text: #bbbbbb;
$whitney : 'Whitney-Book', sans-serif;
$gotham : 'Gotham-Book', sans-serif;
$gothamMedium : 'Gotham-Medium', sans-serif;
$whitneyLight : 'Whitney-Light', sans-serif;
$whitneyMedium : 'Whitney-Medium', sans-serif;
$gothamLight : 'Gotham-Light', sans-serif;
